.write_artical{
    width:100%;
    height:4.4rem;
    background: white;
    overflow: hidden;
    position: relative;
    border-bottom: 1px #D6D7DC solid;
}
.write_text{
    width:6rem;
    height:1.8rem;
    border:none;
    resize: none;
    outline:none;
    margin:0.2rem 0 0 0.2rem;
    font:0.26rem/0.32rem '微软雅黑';
    color: #282828;
}
.write_img{
    width:100%;
    min-height:2.22rem;
    overflow: hidden;
}
.write_img li{
    width:1.92rem;
    height:2rem;
    float: left;
    margin-right:0.12rem;
    margin-bottom:0.12rem;
}
.write_img li:nth-of-type(1){
    margin-left:0.2rem;
}
.write_img li img{
    width:100%;
    height:100%;
    border:none;
    vertical-align: top;
}
.write_add{
    border: 1px #cccccc dotted;
    overflow: hidden;
}
.write_add div{
    width:0.64rem;
    height:0.64rem;
    background: url("../img/jia-line.png") no-repeat;
    -webkit-background-size:100% 100% ;
    background-size:100% 100% ;
    margin:0.44rem 0 0.2rem 0.57rem;
}
.write_add span{
    width:100%;
    height:0.26rem;
    display: block;
    font:0.24rem/0.26rem '微软雅黑';
    color: #d7d7d7;
    text-align: center;
    margin-bottom: 0.1rem;
}
.write_add p{
    width:100%;
    height:0.24rem;
    font:0.2rem/0.24rem '微软雅黑';
    color: #989898;
    text-align: center;
    overflow: hidden;
}
.write_footer{
    width:100%;
    height:1.68rem;
    background: #F1F1F1;
    position: fixed;
    left:0;
    bottom:0;
    display: flex;
}
.write_footer input[data-wnum='0']{
    width:5.8rem;
    height:0.8rem;
    border:none;
    background: #CFCFCF;
    -webkit-border-radius: 0.1rem;
    -moz-border-radius: 0.1rem;
    border-radius: 0.1rem;
    text-align: center;
    font:0.3rem/0.8rem '微软雅黑';
    color: white;
    margin:auto auto;
}
.write_footer input[data-wnum='1']{
    width:5.8rem;
    height:0.8rem;
    border:none;
    background: #e169a3;
    -webkit-border-radius: 0.1rem;
    -moz-border-radius: 0.1rem;
    border-radius: 0.1rem;
    text-align: center;
    font:0.3rem/0.8rem '微软雅黑';
    color: white;
    margin:auto auto;
}