/*通配*/
img{vertical-align: top; border: none;}
html *{-webkit-tap-highlight-color: rgba(0,0,0,0);}
button{-webkit-appearance: none; border: none;}
a,input,textarea{outline: none;}
html{height: 100%;}
form,p,ul,h3,h2,body{margin:0; padding:0; font-family: "微软雅黑";}
li{list-style: none;}
a{text-decoration: none;}
table{border-collapse: collapse;}
td,th{padding:0; border: 1px solid #d6d7dc;}
td{text-align: center;}
input{ -webkit-appearance: none;}
i,em{ font-style: normal;}
.clear{ zoom: 1;}
.clear:after{ content: ""; display: block; clear: both;}
body{height:100% ;position: relative;  background: #f1f1f1;}
/*通配*/
.can_main{
	width: 100%;
	position: relative;
}
.can_title{
	width: 100%;
	height: 0.88rem;
	background: white;
	margin-bottom: 0.1rem;
}
.can_title li{
	width: 2.2rem;
	height: 100%;
	float: left;
	text-align: center;
	font: 0.26rem/0.88rem "微软雅黑";
	color: #282828;
}
.can_title li:nth-of-type(1){
	margin-left: 1rem;
}
.can_title li.can_change{
	border-bottom: 1px #f97fa4 solid;
	color: #f97fa4;
}
.can_nocontent{/*没有分期账单时*/
	width: 100%;
	min-height: 7rem;
	background: white;
	overflow: hidden;
	display: none;
}
.can_nocontent img{
	width: 1.52rem;
	height: 1.52rem;
	margin-top: 1.55rem;
	margin-left: 2.45rem;
}
.can_nocontent p{
	width: 100%;
	text-align: center;
	margin-top: 0.7rem;
	font: 0.26rem/0.26rem "微软雅黑";
}
.can_bottom{
	width: 100%;
	background: #F1F1F1;
	height: 1.6rem;
	position: relative;
	font: 0.26rem/1.6rem "微软雅黑";
	position: fixed;
	bottom: 0;
	left: 0;
}
.can_bottom p{/*底部下一步*/
	width: 3.5rem;
	height: 100%;
	color: #cfcfcf;
	margin-left: 0.2rem;
	float: left;
}
.can_bottom input{
	width: 2.14rem;
	height: 0.74rem;
	background: #cfcfcf;
	border: none;
	border-radius: 0.37rem;
	position: absolute;
	color: white;
	top: 0.43rem;
	right: 0.2rem;
}
.can_content1{/*已出账单有账单时*/
	width: 100%;
	min-height: 7rem;
	overflow: hidden;
}
.can_text{
	width: 100%;
	overflow: hidden;
}
.can_text li{
	width: 100%;
	height: 1.6rem;
	background: white;
	overflow: hidden;
	margin-bottom: 0.1rem;
	position: relative;
}
.can_text li p{
	width: 100%;
	height: 0.24rem;
	font: 0.24rem/0.24rem "微软雅黑";
	text-indent: 0.2rem;
	color: #282828;
	margin-top: 0.24rem;
	position: relative;
}
.can_text li p span{
	position: absolute;
	left: 0.96rem;
	top: 0.02rem;
	margin: 0;
	text-indent: 0;
}
.can_text li span{
	width: 100%;
	height: 0.22rem;
	font: 0.22rem/0.22rem "微软雅黑";
	text-indent: 0.2rem;
	color: #6A6A6A;
	margin-top: 0.26rem;
	display: block;
}
.can_project{
	width: 100%;
	height: 0.2rem;
	font: 0.2rem/0.2rem "微软雅黑";
	color: #C3C3C3;
	margin-top: 0.2rem;
}
.can_project i{
	width: 50%;
	height: 100%;
	text-indent: 0.2rem;
	display: block;
	float: left;
}
.can_text li a{
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
}
.can_choose{
	width: 0.42rem;
	height: 0.42rem;
	border: 1px #c3c3c3 solid;
	border-radius: 0.05rem;
	position: absolute;
	right: 0.2rem;
	top: 0.4rem;
}
.can_choose img{
	width: 100%;
	height: 100%;
}















