*{ margin:0; padding:0;}
﻿﻿img{vertical-align: top; border: none;}
html *{-webkit-tap-highlight-color: rgba(0,0,0,0);}
button{-webkit-appearance: none; border: none;}
a,input,textarea{outline: none;}
input{ -webkit-appearance: none;}
html{height: 100%;}
form,input,p,ul,h3,h2,h1,h4,h5,h6,body{margin:0; padding:0; font-family: "微软雅黑";}
li{list-style: none;}
.clear:after{content:""; display: block; clear: both;}
a{text-decoration: none;}
table{border-collapse: collapse;}
td,th{padding:0; border: 1px solid #d6d7dc;}
td{text-align: center;}
i,em{ font-style: normal;}
.clear{ zoom: 1;}
.clear:after{ content: ""; display: block; clear: both;}
.chao{text-overflow: ellipsis;  overflow: hidden;white-space: nowrap;}
.padleft{padding-left: 0.18rem;}
.padright{padding-right: 0.18rem;}
.marleft{margin-left: 0.18rem}
.marrig{margin-right: 0.18rem}
.flex{display: flex;display: -webkit-flex;}
.flex>*{position: relative;display: inline-block;text-align: center;flex-basis: 6.4rem;-wekit-flex-basis:6.4rem;}
.btnok{width: 90%;height: 0.8rem;border-radius: 5px;margin: auto;font-size: 0.3rem;color: #ffffff;text-align: center;line-height: 0.8rem;-webkit-transition: background 0.5s;-moz-transition: background 0.5s;-ms-transition: background 0.5s;-o-transition: background 0.5s;transition: background 0.5s;}
/*----------------------以上是清除默认样式---------------------------------------------------------------*/
body{height:100% ;position: relative;  background: #f1f1f1;}
.htmlAll{width: 16rem; height: 100%; position: relative; overflow: hidden;}
/*.all{ width: 100%; height: 100%; position: absolute; left: 0; top:0; overflow: hidden;}
.wrap{height: 100%; overflow: auto; z-index: 1; float: left; width: 16rem; position: relative;}*/
.header{ width: 16rem; height: 2.2rem; background: white; position: relative; overflow: hidden;}
/*.search1{width: 12.5rem; height: 2rem; position: relative; float: left; margin-left: 0.5rem;overflow: hidden;}
.shuru{width: 12.5rem; height: 1.5rem; border-radius: 1rem; text-indent: 1.5rem; font:0.6rem/1.5rem "微软雅黑"; color: #afafaf; border: none; padding: 0;}
.search{width: 0.7rem; height: 0.7rem; background: url(../img/seachIcon.png) no-repeat; position: absolute; left: 0.5rem; top:0.65rem; background-size: contain;}
#sao{width: 0.8rem; height: 0.8rem; background: url(../img/saoyisao.png) no-repeat; position: absolute; right:0.7rem; top:0rem; background-size: 100% 100%;}*/
#local{display: block; float: left; font: 0.55rem/0.85rem "微软雅黑"; color: #e269a4; margin-top: 0.4rem; margin-left: 0.5rem;}
#local span{display: block; width: 0.5rem; height: 0.7rem; background: url("../img/Location-Pin.png") no-repeat; background-size: 100% 100%; margin:0 auto;}
.logo{
    width:4.15rem;
    height:1.35rem;
    float: left;
    margin-left:3.2rem;
    margin-top: 0.4rem;
}
.logo img{
    width:100%;
    height:100%;
    border:none;
    vertical-align: top;
}
.search{
    width:2.2rem;
    height:100%;
    float: right;
    overflow: hidden;
}
.search i{
    width:0.875rem;
    height:0.875rem;
    background: url("../img/Search-icon001.png") no-repeat;
    background-size: 100% 100%;
    display: block;
    margin-left:0.6rem;
    margin-top:0.6rem;
}
/*#proIcon{display: block; float: right;}
#proIcon img{display: block;}*/
#banner{ width:100%; height: 8.5rem; overflow: hidden;  position: relative;}
#bannerList{width:300%; height: 8.5rem; overflow: hidden; position: absolute; left: 0; top:0;}
#bannerList li{width: 33.333%; height: 100%;float: left;}
#bannerList li img{width: 100%; height: 100%;  border:none; vertical-align: top;}
#btn{ width:1.65rem;position: absolute; bottom: 0.25rem; left:50%; margin-left:-0.825rem;}
#btn span{display: block; width: 0.25rem; height: 0.25rem; background: #fff; border-radius: 1rem; float: left; margin-right: 0.3rem;}
#nav{width: 16rem; height:3.5rem; background: #fff; margin-bottom: 0.2rem; overflow: hidden}
#nav p{float: left; width: 20%; height: 3.5rem; padding:0.4rem 0.45rem; box-sizing: border-box;}
#nav p img{width: 1.75rem; height: 1.75rem; margin: 0 auto; display: block;}
.good{ text-align: center; font: 0.45rem/1.2rem "微软雅黑"; display: block; width: 2.4rem; color: #000000; }
/*#main{ position: relative; }
#main span{background: url(../img/gao.png) no-repeat; background-size: contain; width: 0.8rem; height: 0.675rem; position: absolute; left: 0.5rem; top:0.5rem;}
#main h3 a{display: block; font: 0.6rem/1.5rem "微软雅黑"; color: #656565; width: 16rem; height: 1.5rem; background: #fff; border-top: 1px solid #d6d7dc; border-bottom: 1px solid #d6d7dc; text-indent: 1.5rem; margin-bottom: 0.5rem;}*/
#action{ width: 16rem; height: 8.05rem;}
#action img{width: 100%; height: 100%;  border:none; vertical-align: top;}
/*#action1{ width: 7.95rem; height: 8.05rem; float: left;}
#action1 img{width: 7.95rem; height: 8.05rem; }
#action2{width: 8rem; float: left; height: 4.025rem;  }
#action2 img{width: 8rem; height: 4.025rem; }
#action3{width: 8rem; height: 4rem; float: left;}
#action3 img{width: 8rem; height:4rem ;}*/
#footer{width: 16rem; height: 2.45rem; background: #fff; border-top:1px solid #d6d7dc; position:fixed;bottom: 0; left: 0; z-index: 10;}
#footer li{float: left; width: 20%; height: 1.825rem; padding:0 0.5rem; box-sizing: border-box; margin-top: 0.425rem; position: relative;}
#footer li a{ width: 100%; height: 100%; display: block; position: absolute; top: 0; left: 0; color: #989898; line-height: 3.15rem;}
#footer li span{width: 1.125rem; height: 1.125rem; margin: 0 auto; display: block; color: #989898;}
.text{text-align: center; font: 0.5rem/1rem "微软雅黑"; display: block; width: 2.4rem; color: #989898; letter-spacing: 0.15rem;}
#face img{width: 16rem; height: 25.2rem;}
.sport{ animation: 0.5s linear move 1; -webkit-animation: 0.5s linear move 1;}
@keyframes move{
    from{ transform: scale(1);}
    50%{ transform: scale(2);}
    to{ transform: scale(1);}
}
@-webkit-keyframes move{
    from{ -webkit-transform: scale(1);}
    50%{ -webkit-transform: scale(2);}
    to{ -webkit-transform: scale(1);}
}
/*-----------以上是首页样式---------------------------------------------------------------------------*/

.mouth{width: 16rem; background: #fff; margin-top: 0.5rem; border-top: 1px solid #D6D7DC; border-bottom: 1px solid #D6D7DC;}
.mouth li{height: 2rem; border-bottom: 1px solid #d6d7dc; width: 15.175rem; float: right;}
.mouth li:last-child{border-bottom: none;}
.icon1{background: url(../img/history1.png) no-repeat; background-size: contain; width: 0.75rem; height: 0.75rem; display: block; float: left; margin-top: 0.6rem;}
.mouth li h3{font: 0.6rem/2rem "微软雅黑"; color: #282828; text-indent: 0.3rem; float: left;}
.mouth li:nth-of-type(1) a{display: block; width: 3.45rem; height: 1rem; background: #F97FA4; border-radius: 0.3rem; float: right; color: #fff; font: 0.45rem/1rem "微软雅黑"; text-align: center; margin-top: 0.5rem; margin-right: 0.85rem; }
.icon2{background: url(../img/history2.png) no-repeat; width: 0.75rem; height: 0.75rem; background-size: contain; float: left; margin-top: 0.6rem;}
.icon3{background: url(../img/history3.png) no-repeat; width: 0.75rem; height: 0.75rem; background-size: contain; float: left; margin-top: 0.6rem;}
#totle,#huan{color: #898989; float: right; font: 0.6rem/2rem "微软雅黑"; margin-right: 0.85rem; }
#huan img{width: 0.25rem; height: 0.45rem; margin-top: 0.8rem; margin-left: 0.325rem;}
.zhangDan h3{font:0.45rem/1.5rem "微软雅黑"; color: #4d4d4d; text-indent:1rem; }
.zhangDan span{font-size: 0.35rem; color: #989898; margin-left: 0.4rem;}
.mingXi{width: 16rem; border-bottom: 1px solid #d6d7dc; border-top: 1px solid #d6d7dc; background: #fff;}
.mingXi li{height: 2rem; width: 15.175rem;  border-bottom: 1px solid #d6d7dc; float: right; }
.mingXi li h3{height: 2rem; font: 0.5rem "微软雅黑"; margin-top: 0.25rem; float: left;}
.mingXi li time{display: block; color: #989898; font: 0.35rem "微软雅黑"}
.mingXi li span{background: url(../img/history4.jpg) no-repeat; width: 1rem; height: 1rem; display: block; float: left; background-size: contain; margin-top: 0.5rem; margin-right: 0.3rem;}
.mingXi li:last-child{border-bottom: none;}
.mingXi li span:nth-of-type(2){background: url(../img/into.png) no-repeat; background-size:contain; width: 0.25rem; height: 0.45rem; display: block; margin-top: 0.85rem; float: right; margin-right: 0.85rem;}
/*-----------以上是历史账单---------------------------------------------------------------------------*/
.makeYue{width: 16rem; height: 5.5rem; background: #f97fa4; border-bottom:1px solid #d6d7dc ;}
.makeYue p{float: left; width: 33.33%; box-sizing: border-box; margin-top: 0.75rem;}
.makeYue p img{width: 3.1rem; height: 3.1rem; margin: 0 auto; display: block;}
.makeYue p span{color: #fff;font: 0.6rem/1.4rem "微软雅黑"; display: block; text-align: center;}
.want{width: 100%; height: 1.75rem; color: #707070; font: 0.7rem/1.75rem "微软雅黑"; text-indent: 0.325rem; border-left: 0.15rem solid #f3b562; background: #fff; margin-top: 0.5rem;}
.yueAll{width: 16rem; background: #fff; }
.historyYue{width: 16rem; height: 6.4rem; background: #fff; border-top: 1px solid #d6d7dc; border-bottom: 1px solid #d6d7dc; margin: 0 auto;}
.historyYue p{width: 33.33%; box-sizing: border-box; padding: 0 0rem; float: left;}
.historyYue p img{width: 3.1rem; height: 3.1rem; margin-left: 0.875rem;}
.historyYue p span{color: #656565; font:0.5rem/1.5rem "微软雅黑"; display: block; text-align: center;}
.historyYue p time{display: block; color: #3e3e3e; font: 0.55rem/1.5rem "arial"; text-align: center; }
.history a img{width: 0.55rem; height: 0.625rem; display: block; margin-left: 0.05rem; position: absolute; top:0.95rem; right:5.9rem; }
.history a{width: 16rem; display: block; height: 2.15rem; background: #fff; font:0.7rem/2.15rem "微软雅黑"; color: #f3b562; text-align: center;position: relative; margin-bottom: 0.5rem;}
.history img{margin-top: -0.1rem;}
.historyImg img{width: 16rem; height: 5.075rem; }
.everNone{margin-top: 2rem;}
.everNone img{width: 2.45rem; height: 2.25rem; float: left; margin-left: 2.55rem; margin-right: 0.25rem;}
.everNone p{font: 0.6rem/2.25rem "微软雅黑"; color: #989898;}
.everNone a{width: 3.15rem; height: 1.15rem; border: 2px solid #f97fa4; background-color: #fff; margin-top: 0.5rem; border-radius: 0.2rem; color: #f97fa4; font: 0.6rem/1.15rem "微软雅黑"; display: block; float: left; text-align: center;}
/*-----------------以上是预约---------------------------------------------------------------------------*/

.mingYi{width: 16rem; height: 2rem; background: #f97fa4; position:fixed; top: 0; left: 0;}
.searchYi{width: 11rem; height: 2rem; float: left; position: relative; margin-left:0.5rem;}
.searchYi2{background: url(../img/seachIcon.png) no-repeat; width: 0.7rem; height: 0.7rem; background-size: contain; display: block; position: absolute; left: 0.5rem; top:0.65rem;}
.mingYi2{width: 11rem; height: 1.3rem; background: #fff; border-radius: 1rem; font: 0.6rem/1.5rem "微软雅黑"; border: none; position: absolute; left: 0; top:0rem; text-indent: 1.5rem;}
.yueMenu{display: block; height: 2rem; float: right; color: #fff; font: 0.45rem/2rem "微软雅黑"; margin-right: 0.7rem; position: relative;}
.yueMenu img{ width: 0.9rem; height: 0.775rem; margin-top: 0.625rem; margin-right: 0.2rem; float: left;}
.yueMenu i{ height: 2rem; font: 0.45rem/2rem "微软雅黑"; display: block; float: left;}
.yueMenu span{width: 0.65rem; height: 0.65rem; background: #e23333; position: absolute; right: -0.3rem; top: 0.3rem; line-height: 0.65rem; display: block; text-align: center; border-radius: 50%;}
.bigBg{background: url(../img/mingTeacher1.jpg) no-repeat; width: 16rem; height: 4.05rem; background-size: contain; border-bottom: 1px solid #d6d7dc ; border-top: 1px solid #d6d7dc; padding-top: 2rem; background-position: 0 2rem;}
.benZhou{width: 3.3rem; height: 3.3rem; margin-left: 2.25rem; margin-top: 0.375rem; float: left; margin-right: 1rem;}
.benZhou img{width: 3.3rem; height: 3.3rem; border-radius: 50%; overflow: hidden;}
.benPeople{font:bold 0.8rem/3.3rem "微软雅黑"; margin-top: 0.375rem; color: #656565;}
.benPeople span{ font-size: 0.65rem; font-weight: normal; }
.mingShi{width: 16rem; background: #fff; margin-top: 0.25rem;}
.shiList li{width: 15.5rem;  float: right; height: 5rem; border-bottom: 1px solid #d6d7dc;}
.shiList img{width: 3.5rem; height: 3.5rem; float: left; padding-top: 0.75rem; margin-right: 0.5rem;border-radius: 50%; }
.shiList h2{font:0.7rem/1rem "微软雅黑"; margin-top: 0.8rem; color: #282828;}
.shiList h2 span{font:0.45rem "微软雅黑"; margin-left: 0.3rem;}
.shiList h3{font:0.5rem/1rem "微软雅黑"; color: #686868;}
.shiList a{font:0.4rem "微软雅黑"; display: block; padding:0.1rem 0.2rem 0.1rem 0.2rem; background: #a4c8fd; float: left; border-radius: 0.1rem; margin-top: 0.2rem; color: #fff;}
.yiJia{width: 1.4rem; height: 1.4rem; background: #f97fa4; border-radius: 50%; float: right; margin-top: -1.2rem; margin-right: 1.425rem; }
.yiJia img{width: 0.85rem; height: 0.85rem; margin-top: -0.5rem; margin-left: 0.3rem; border-radius:0;}
.yiJia span{font: bold 0.45rem/0.9rem "微软雅黑"; color: #f97fa4; margin-left: 0.1rem;}
/*-----------------以上是名师预约---------------------------------------------------------------------------*/
.yueStaus{width: 16rem; height: 3.35rem; background: #f97fa4; border-bottom: 1px solid #d6d7dc; position: fixed; left: 0;top:0;}
.yueStaus img{width: 1.875rem; height: 1.85rem; float: left; margin:0.75rem 0.75rem 0 0.625rem;}
.yueStaus h2{float: left; height: 3.35rem; font:bold 0.8rem/3.35rem "微软雅黑"; color: #fff; margin-right: 0.75rem; }
.yueStaus span{display: block; height: 3.35rem;font: 0.5rem/3.35rem "微软雅黑"; color: #fff; float: left;}
.yueStaus time{font: 0.5rem "微软雅黑"; color: #fff; position: absolute; left: 3.2rem; bottom: 0.8rem; display: block;}
.noneYue{width: 16rem; height: 2.5rem; background: #fff; position: fixed; top: 5.35rem; left: 0;}
.noneYue a{display: block; width: 3.85rem; height: 1.15rem; border:1px solid #17ab03; float: left; border-radius: 0.2rem;  font:0.575rem/1.15rem "微软雅黑"; text-align: center; margin-top: 0.6rem; color: #17ab03;}
.noneYue a:first-child{margin-left: 1.75rem; margin-right: 4.6rem; color: #fa1d00; border:1px solid #f97fa4;}
.yueXiang{width: 16rem; height: 1.55rem; background: #f1f1f1; position: fixed; top:7.8rem;left: 0;}
.yueXiang span{font: 0.6rem/1.55rem "微软雅黑"; color: #282828; display: block;float: left; margin-left: 0.5rem;}
.yueXiang time{font: 0.5rem/1.55rem "微软雅黑"; color: #282828; display: block;float: right; margin-right: 0.5rem;}
.yueList{margin-top: 9.2rem;}
.yueList li{width: 16rem; height: 5.5rem; background: #fff; border-bottom: 1px solid #d6d7dc; margin-bottom: 0.35rem;}
.suiImg{ width: 3.55rem; height: 3.55rem; float: left; margin-top: 0.95rem; margin-left: 0.5rem; margin-right: 0.85rem;}
.suiImg img{ width: 100%; height: 100%;}
.yueList h2{font:0.7rem/1.1rem "微软雅黑"; color: #686868; padding-top: 0.9rem;}
.yueList span{display: block; width: 3rem; height: 0.9rem; float: right; font: 0.45rem/0.9rem "微软雅黑"; border:1px solid #f97fa4; text-align: center; border-radius: 0.2rem;  color: #f97fa4; margin-right: 0.5rem;}
.yueList p{width: 6rem; height: 1.4rem; float: left; color: #656565; font:0.55rem/0.7rem "微软雅黑"; -webkit-line-clamp:2; text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical; overflow: hidden;}
.key{width: 16rem;background: green; margin-top: 1.7rem;}
.key span{font:0.4rem/0.9rem "微软雅黑"; display: block; float: left; border-radius: 0.1rem; margin-right: 0.25rem; color: #fff; padding:0 0.2rem;background: #a4c8fd; border:none;}
#close{display: block; width: 1rem; height: 1rem; border-radius: 50%; position: fixed; right: 0;  top:0; background: #fff; margin-right: 0.5rem; margin-top: 1.175rem;}
#close img{width: 0.425rem; height: 0.425rem; margin-left: 0.3rem; margin-top: 0.3rem; display: block;}
/*----------------以上是预约详情--------------------------------------------------------------------------*/
.xiangH{width: 16rem; height: 2rem; background: #fff; border-bottom:1px solid #d6d7dc; position: fixed; z-index: 100; margin-bottom: 0.25rem; top:0; left:0;}
.xiangH span,.xiangH a{ width:50%; font: 0.75rem/1.95rem "微软雅黑"; color: #282828; height: 1.95rem; display: block; float: left; text-align: center;}
.xiangH span:first-child{color: #e269a3; border-bottom: 2px solid #f97fa4;}
.xiangH a{float: right; margin-right: 1.057rem; border-left: 1px solid #989898; padding-left: 0.6rem; display: block; width: 2.9rem; height: 0.9rem;}
.xiangH a img{width: 0.9rem; height: 0.775rem; margin-right: 0.2rem; margin-top: 0.2rem;}
.xiangH a span{float: right; line-height: 0.4rem;}

.xiangB{background: white; width: 16rem; margin-top: 2.3rem; margin-bottom: 0.25rem; overflow: hidden;}
.doctor_doc{
    width:100%;
    height:5rem;
    overflow: hidden;
    border-bottom: 1px #D6D7DC solid;
}
.doctor_tuijian{width: 2.35rem; height: 2.35rem; margin-left: 0.5rem; margin-top: 1.05rem; float: left; border-radius: 50%;}
.doctor_tuijian img{width: 100%; height: 100%; border:none; border-radius: 50%; vertical-align: top;}
.doctor_infor{
    width:8.5rem;
    height:3.75rem;
    float: left;
    margin-left:0.5rem;
    margin-top:0.8rem;
    overflow: hidden;
}
.doctor_infor h2{
    width:100%;
    height:1rem;
    font:0.7rem/1rem '微软雅黑';
    color: #000;
}
.doctor_infor p{
    width:100%;
    height:0.9rem;
    overflow: hidden;
}
.doctor_infor span{
    min-width:2.5rem;
    height:100%;
    display: block;
    font:0.5rem/0.9rem '微软雅黑';
    color: #e269a3;
    float: left;
}
.doctor_infor i{
    min-width:4rem;
    height:100%;
    display: block;
    font:0.5rem/0.9rem '微软雅黑';
    color: #656565;
    float: left;
    margin-left:0.3rem;
}
.infor_project{
    width:100%;
    height:2.2rem;
    overflow: hidden;
    position: relative;
    margin-top:0.1rem;
}
.infor_project em{
    width:100%;
    height:0.75rem;
    font:0.5rem/0.75rem '微软雅黑';
    color: #646464;
    position: absolute;
    left:0;
    top:0;
}
.mine_pro{
    width:100%;
    height:0.8rem;
    overflow: hidden;
    position: absolute;
    left:0;
    top:0.9rem;
}
.mine_pro span{
    min-width:0.6rem;
    height:100%;
    padding:0 0.25rem;
    display: block;
    float: left;
    background: #eaeaea;
    font:0.5rem/0.8rem '微软雅黑';
    color: #646464;
    border-radius: 0.1rem;
    margin-right:0.3rem;
}
.doctor_ask{
    width:3.15rem;
    height:1.05rem;
    font:0.6rem/1.05rem '微软雅黑';
    color: #e269a3;
    float: right;
    margin-top:1rem;
    border:1px #e269a3 solid;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    border-radius: 0.2rem;
    text-align: center;
    margin-right:0.5rem;
}
.doctor_intro{
    width:100%;
    overflow: hidden;
}
.doctor_intro span{
    width:100%;
    height:1.2rem;
    font:0.65rem/1.2rem '微软雅黑';
    color: #0b0b0b;
    display: block;
    margin-top: 0.375rem;
    text-indent: 0.5rem;
}
.doctor_intro p{
    width:15rem;
    height:1.9rem;
    font:0.55rem/0.9rem '微软雅黑';
    color: #656565;
    -webkit-line-clamp:2;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin:0 auto;
}
.doctor_intro i{
    width:0.7rem;
    height:0.4rem;
    background: url("../img/xiahuaxian_icon.png") no-repeat;
    background-size: 100% 100%;
    display: block;
    margin: 0 auto;
    margin-bottom:0.8rem;
}

.proStr{width: 16rem; height: 1.8rem; background: white; border-bottom: 1px #D6D7DC solid;}
.proStr h2{font: 0.65rem/1.8rem "微软雅黑"; color: #656565; margin-left: 0.5rem;}
.instr{width: 16rem; background: #fff; min-height: 9rem; position: relative; padding-bottom: 0.1rem; margin-bottom: 0.25rem; }
.main{
	width: 15rem;
	text-align: center;
	margin: 0 auto;
}
/*content  common  start*/
.content_one,.content_two,.content_three,.content_four,.content_five,.content_six{
	width: 100%;
	overflow: hidden;
	position: relative;
	text-align: center;
	color: black;
}
.content_title1{
	width: 100%;
	height: 1.3rem;
	font: 0.8rem/1.3rem '微软雅黑';
	margin-top: 0.825rem;
    font-weight: bold;
}
.content_title2{
	width: 100%;
	height: 1.35rem;
	font: 0.85rem/1.35rem '微软雅黑';
    font-style:normal;
}
.content_title3{
	font: 0.65rem/1.1rem '微软雅黑';
	font-weight: normal;
    color: #e169a3;
    border:1px #e169a3 solid;
    display: inline;
    padding:0 0.7rem;
}
.content_title4{
	width: 0.6rem;
	height: 0.25rem;
	display: block;
	background: url(../img/xiahuaxian_icon.png) no-repeat;
	background-size: 100% 100%;
	margin: 0.35rem auto;
}
/*content  common  end*/


/*content_common2 start*/
.content_border{
	width: 11.95rem;
	height: 1.85rem;
	border: 1px #000000 solid;
	margin: 0 auto;
	margin-top: 0.6rem;
	position: relative;
}
.content_head{
	width: 6.5rem;
	height: 1.1rem;
	background: white;
	font: 0.8rem/1.1rem '微软雅黑';
	position: absolute;
	left: 2.7rem;
	top: -0.6rem;
    font-weight: bold;
}
.content_small{
	width: 100%;
	height: 1.3rem;
	font: 0.6rem/1.3rem '微软雅黑';
	margin: 0 auto;
	font-weight: normal;
	margin-top: 0.6rem;
}
/*content_common2 end*/


/*content_five content*/
.list_information{
	width: 100%;
	border-top: 1px #D6D7DC dotted;
	text-align: left;
	margin-top: 0.5rem;
    color: #000;
}
.list_information li{
	width: 100%;
	min-height: 1rem;
	line-height: 1rem;
	border-bottom: 1px #D6D7DC dotted;
}
.list_information li span{
	display: block;
	width: 6rem;
	height: 100%;
	text-indent: 0.5rem;
	font-size: 0.6rem;
	float: left;
}
.list_information li p{
	width: 8.5rem;
	min-height: 1rem;
	font: 0.6rem/1rem '微软雅黑';
	float: right;
    text-align: right;
	overflow: hidden;
    margin-right: 0.5rem;
}
.list_information li p img{
	width: 0.25rem;
	height: 0.25rem;
	margin-top: 0.375rem;
}
.yanList li{width: 16rem; height: 3.3rem;}
.yanList li img{width: 100%; height: 100%; border:1px solid #f3f4f5; margin-left: 1.575rem; float: left; margin-right: 0.5rem; margin-top: 0.2rem;}
.yanList li span{font: 0.6rem"微软雅黑"; color: #fba5bf;display: block; float: left;}
.yanList li p{font: 0.45rem/0.675rem "微软雅黑"; color: #989898; margin-top: -0.3rem;}
.danNumber{width: 0.65rem; height: 0.65rem; background: #e23333; border-radius: 50%;position: absolute; left:9.3rem; top:0.7rem; color: #fff; font:0.5rem/0.65rem "微软雅黑"; text-align: center;}
.tiao{position: fixed; top: 10rem; left:5rem; width: 2rem; height: 2rem; z-index: 101;display: none; border-radius: 50%; }
.msg{position: absolute; right: 0; top: 0; z-index: 102; margin-top: 2.2rem;}
.yueCar{width: 16rem; border-top: 1px solid #d6d7dc; position: fixed; bottom: 0;height: 2.45rem;  background: #fff;}
.yueCar a{display: block; float: left;}
.yueCar a:nth-of-type(1){width: 4.875rem; height: 1.5rem; margin-top: 0.5rem; border-right: 1px solid #d6d7dc;}
.yueCar a:nth-of-type(1) img{width: 1rem; height: 1rem; position: absolute; left: 1.175rem; top:0.7rem;}
.yueCar a:nth-of-type(1) span{color: #989898; font: 0.65rem/1.5rem "微软雅黑"; width: 4.875rem; display: block; margin-left: 2.425rem;}
.yueCar a:nth-of-type(2){width: 6.1rem; height: 1.5rem; margin-top: 0.5rem; }
.yueCar a:nth-of-type(2) img{width: 1.2rem; height: 1rem; position: absolute; left: 6.125rem; top:0.7rem;}
.yueCar a:nth-of-type(2) span{color: #989898; font: 0.65rem/1.5rem "微软雅黑"; width: 4.875rem; display: block; margin-left: 2.55rem;}
.yueCar a:nth-of-type(3){height: 2.45rem;background: #e169a3; text-align: center;color: #fff; font: 0.85rem/2.45rem "微软雅黑"; width: 4.95rem;}
.xiangPro{
    width:100%;
    overflow: hidden;
}
.contact_main{
    width:100%;
    background: white;
    overflow: hidden;
    padding-bottom:2.5rem;
}
.contact_main h2{
    width:100%;
    height:1.8rem;
    border-bottom: 1px #D6D7DC solid;
    font:0.7rem/1.8rem '微软雅黑';
    color: #646464;
    text-indent: 0.5rem;
}
.contact_pro{
    width:100%;
    overflow: hidden;
}
.contact_list{
    width:15rem;
    margin:0 auto;
    overflow: hidden;
}
.contact_list li{
    width:100%;
    border-bottom:1px #D6D7DC solid;
    overflow: hidden;
}
.right_img{
    width:3.575rem;
    height:3.575rem;
    float: left;
    margin:0.5rem 0;
    position: relative;
}
.right_img img{
    width:100%;
    height:100%;
    border:none;
    vertical-align: top;
}
.right_img a{
    width:100%;
    height:100%;
    display: block;
    position: absolute;
    left:0;
    top:0;
}
.right_text{
    width:5.25rem;
    height:3.575rem;
    position: relative;
    overflow: hidden;
    float: left;
    margin:0.5rem 0 0.5rem 1rem;
}
.right_text h3{
    width:100%;
    height:1rem;
    font:0.6rem/1rem '微软雅黑';
    color: #656565;
    font-style: normal;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.right_text p{
    width:100%;
    height:1.75rem;
    font:0.55rem/0.875rem '微软雅黑';
    color: #979797;
    overflow: hidden;
    -webkit-line-clamp:2;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.right_text span{
    background: #c6c6c6;
    font:0.5rem/0.7rem '微软雅黑';
    color: white;
    border-radius: 0.1rem;
    position: absolute;
    bottom: 0;
    left:0;
    padding:0 0.1rem;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.right_text a{
    width:100%;
    height:100%;
    display: block;
    position: absolute;
    left:0;
    top:0;
}

li[data-flag='0'] .tianJia,li[data-flag='1'] .tianJia{
    width:3rem;
    height:3.575rem;
    margin:0.5rem 0;
    float: right;
    position: relative;
}
li[data-flag='0'] .tianJia span,li[data-flag='1'] .tianJia span{
    width:1rem;
    height:1rem;
    display: block;
    background: url("../img/2_01_16.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    right:0;
    bottom:0.7rem;
}
li[data-flag='0'] .tianJia i,li[data-flag='1'] .tianJia i{
    width:1.5rem;
    height:0.7rem;
    display: block;
    font:0.5rem/0.7rem '微软雅黑';
    color: #e16aa3;
    text-align: right;
    position: absolute;
    right:0;
    bottom:0;
}
li[data-flag='1'] .tianJia span{
    background: url("../img/huiseyuyue-icon.png") no-repeat;
    background-size: 100% 100%;
}
li[data-flag='1'] .tianJia i{
    color: #989898;
}

/*-----------------以上是详情页---------------------------------------------------------------------------*/
#user{
	width:100%;
    height: 6.9rem;
    background: url("../img/mine.png") no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    border-bottom:1px #dcdcdc solid ;
}
.user_wode{
    width:100%;
    height:6.9rem;
    overflow: hidden;
}
.wode_set{
    width:100%;
    height:1.75rem;
    position: relative;
    overflow: hidden;
}
.wode_set span{
    width:1rem;
    height:1rem;
    display: inline-block;
    background: url("../img/4c_05.png") no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    margin-right:0.5rem;
    margin-top:0.65rem;
    float: right;
}
.wode_set i{
    width:1rem;
    height:1rem;
    display: inline-block;
    background: url("../img/4c_03.png") no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    float: right;
    margin-right:1.2rem;
    margin-top:0.65rem;
}
.wode_set span a,.wode_set i a{
    width:100%;
    height:100%;
    display: block;
}
.wode_information{
    width: 100%;
    height:4.5rem;
    overflow: hidden;
    position: relative;
    margin-bottom: 0.75rem;
}
.wode_img{
    width:2.6rem;
    height:2.6rem;
    background: url("../img/touxiang-icon.png") no-repeat;
    background-size: 100% 100%;
    border: 0.125rem rgba(255,255,255,0.5) solid;
    border-radius: 50%;
    margin-left: 6.6rem;
}
.wode_information h3{
    width:100%;
    text-align: center;
    font:0.6rem/0.8rem '微软雅黑';
    color: #282828;
}
.wode_information p{
    width:100%;
    text-align: center;
    font:0.55rem/0.7rem '微软雅黑';
    color: #656565;
}
/*.user_next{
    width:15rem;
    height:3rem;
    margin: 0 auto;
}
.next_use,.next_cash{
    width:49.8%;
    height:1.5rem;
    float: left;
    margin:0.75rem 0;
    border-right:1px rgba(243,90,136,0.18) solid;
    overflow: hidden;
}
.next_cash{
    border: none;
}
.next_use div,.next_cash div{
    width: 4rem;
    height:0.55rem;
    margin-left:2rem;
}
.next_use span,.next_cash span{
    width:0.55rem;
    height:0.55rem;
    background: url("../img/keyongyuee-icon-.png") no-repeat;
    display: block;
    float: left;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.next_use i,.next_cash i{
    width:3rem;
    font:0.55rem/0.55rem '微软雅黑';
    color: #F8CFDC;
    display: block;
    float: left;
    margin-left:0.25rem;
}
.next_use p,.next_cash p{
    width:100%;
    height: 0.95rem;
    font: 0.9rem/0.95rem '微软雅黑';
    color: white;
    text-align: center;
}*/
.user_btn{
    width:100%;
    height:2.45rem;
    background: white;
    overflow: hidden;
    margin-bottom:0.5rem;
}
.user_btn li{
    float: left;
    width:49.8%;
    height:1.55rem;
    position: relative;
    border-right: 1px #dcdcdc solid;
    margin-top:0.35rem;
}
.user_btn li:nth-of-type(2){
    border:none;
}
.user_btn li span{
    width:1rem;
    height:1rem;
    display: block;
    margin-left:3.55rem;
    background: url("../img/4c_14.png") no-repeat;
    background-size: 100% 100%;
}
.user_btn li:nth-of-type(2) span{
    background: url("../img/4c_17.png") no-repeat;
    background-size: 100% 100%;
}
.user_btn li i{
    width:100%;
    display: block;
    font:0.6rem/0.9rem '微软雅黑';
    color: #282828;
    text-align: center;
}
.user_btn li a{
    width:100%;
    height:100%;
    position: absolute;
    left:0;
    top:0;
}
.my_account,.my_active{
    width:100%;
    margin-bottom:0.5rem;
    background: white;
}
.my_account li,.my_active li{
    width:100%;
    height:2rem;
    position: relative;
    overflow: hidden;
    border-bottom: 1px #f5f5f5 solid;
}
.my_account li i,.my_active li i{
    width:1.1rem;
    height:1.25rem;
    display: block;
    float: left;
    background: url("../img/4c_22.png") no-repeat;
    background-size: 100% 100%;
    margin-left: 0.5rem ;
    margin-top: 0.375rem;
}
.my_account li:nth-of-type(2) i{
    background: url("../img/4c_28.png") no-repeat;
    background-size: 100% 100%;
}
.my_account li:nth-of-type(3) i{
    background: url("../img/4c_32.png") no-repeat;
    background-size: 100% 100%;
}
.my_account li p,.my_active li p{
    width:13.4rem;
    height:1.975rem;
    margin-left:1rem;
    float: left;
    font:0.7rem/1.975rem '微软雅黑';
    color: #282828;
    position: relative;
}
.my_account li p span,.my_active li p span{
    width:0.3rem;
    height:0.5rem;
    display: block;
    background: url("../img/fanhuijian-icon.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    right:0.5rem;
    top:0.7375rem;
}
.my_account li a,.my_active li a{
    width:100%;
    height:100%;
    position: absolute;
    left:0;
    top:0;
}
.my_active li:nth-of-type(1) i{
    background: url("../img/4c_36.png") no-repeat;
    background-size: 100% 100%;
}
.my_active li:nth-of-type(2) i{
    background: url("../img/4c_40.png") no-repeat;
    background-size: 100% 100%;
}
/*-----------------以上是我的---------------------------------------------------------------------------*/
.liji_main{ width: 100%; height: 100%; background: white; overflow: hidden;}
.doctor{width: 100%; height: 7rem; background: url(../img/beijing.jpg) no-repeat; background-size:100% 100%; overflow: hidden; margin: 0 auto;}
.doctor div{ width: 4.1rem; height: 4.1rem; overflow: hidden; margin: 0 auto; border-radius: 50%; margin-top: 0.3rem;}
.doctor img{width: 100%; height: 100%;  display: block;  }
.doctor h2,.doctor h3{font:0.6rem/1.35rem "微软雅黑"; color: #fff; width: 16rem; text-align: center;}
.doctor h2 span{margin-right: 0.4rem;}
.doctor h3{font:0.6rem/0.5rem "微软雅黑";}
.doctor_main{ width: 15rem; margin: 0 auto; overflow: hidden;}
.mTips{ width: 100%;  font-size: 0.6rem; }
.mTips span{ width: 3rem; height: 0.75rem; line-height: 0.75rem; color: #f97fa4; float: left; font-weight: bold; margin: 0.55rem 0; display: block;}
.mTips i{ width: 12rem; line-height: 0.75rem; color: #989898; float: left; margin: 0.55rem 0; display: block; }
.mWeek{ width: 100%; height: 1.7rem; font-size: 0.7rem; overflow: hidden;}
.weekList{ width: 110%; height: 100%;}
.weekList li{ width: 1.65rem; height: 1.6rem; border: 1px #b1b1b1 solid; border-radius: 0.15rem; float: left; margin-right: 0.45rem; color:#9d9d9d; display: flex;}
.weekList li div{ width: 100%; height: 1.55rem; line-height: 0.775rem; font-size: 0.75rem; text-align: center; margin: auto auto;}
.weekList li.wChange{ background: #f97fa4; border: 1px #f97fa4 solid; color: white;}
.wBall{ width: 100%; height: 0.35rem; margin: 0.375rem 0; position: relative;}
.wBall p{ width: 100%; height: 1px; background: #989898; position: absolute; left: 0; top: 50%;}
.wBall span{ width: 0.3rem; height: 0.35rem; background: #f97fa4; border-radius: 50%; position: absolute; left: 0.8rem; top: 0; display: block; transition: 0.5s; -webkit-transition: 0.5s;}
.doctor_time{ width: 100%; height: 5rem; overflow: hidden; position: relative;}
.yuyueTime{ width: 700%; position: absolute; top: 0; left: 0; transition: 0.5s; -webkit-transition: 0.5s;}
.yuyueTime{ width: 700%; position: absolute; top: 0; left: 0;}
.comTime{ width: 14.28%; float: left;}
.comTime ul{ width: 100%; border-top: 1px #d6d7dc solid; border-left: 1px #d6d7dc solid;}
.comTime ul li{ width: 3.946rem; height: 1.55rem; line-height: 1.55rem; text-align: center; float: left; border-bottom: 1px #d6d7dc solid; border-right: 1px #d6d7dc solid; color: black; font-size: 0.7rem; font-family: arial;}
.comTime ul li.cChange{ background: #f97fa4; color: white;}
.comTime ul li.unChecked{ background: #ededed;}
.doctor_gift{ width: 100%; height: 4rem; margin: 0.4rem 0;}
.doctor_gift a{ width: 100%; height: 100%; display: block;}
.doctor_gift a img{ width: 100%; height: 100%;}
.doctor_yuyue{ width: 100%; height: 2rem; position: fixed; bottom: 0.25rem; font-size: 0.7rem;}
.doctor_yuyue div{ width: 14.5rem; height: 100%; color: #f97fa4;  margin: 0 auto; border-radius: 0.25rem; background: #d9d9d9; }
.doctor_yuyue div a{ width: 100%; height: 100%; color: white; display: block;  line-height: 2rem; text-align: center;}
/*-----------------以上是立即预约-------------------------------------------------------------------------*/
.project_main{ width: 100%; height: 2.5rem; background: white; border-bottom: 1px #d6d7dc solid; position: fixed; left: 0; top: 0;  z-index: 10;}
.pro_title{ width: 15rem; height: 100%; margin: 0 auto; }
.pro_title span{ float: left; line-height: 2.5rem; color: #646464; font-size: 0.55rem;}
/*.pYuyue{ width: 10rem; height: 1.4rem; border: 0.05rem #f97fa4 solid; border-radius: 0.125rem; margin: auto auto; position: relative;}
.pYuyue{ width: 80%; height: 1.4rem; color: #f97fa4;}
.pYuyue h3{ width: 50%; height: 1.4rem; color: #f97fa4; font-size: 0.7rem; text-align: center; line-height: 1.4rem; float: left; border-radius: 0.125rem; font-weight: normal;}
.pYuyue h3.pChange{background: #f97fa4;color: white;}*/
.pNumber{ width: 100%; height: 2rem; background: white; line-height: 2rem; text-indent: 0.5rem; font-size: 0.5rem; color: #646464; border-bottom: 1px #d6d7dc solid; position: fixed; top: 3.35rem; left: 0; z-index: 10;}
.shoushu{ width: 100%; position: relative; margin-top: 3rem; padding-bottom: 8rem;}
.weizheng{ width: 100%; border-top: 0.05rem #e6e7e9 solid; border-bottom: 1px #d6d7dc solid; background: white; margin-top: 0.5rem;}
.wz_main{ width: 15rem; margin: 0 auto;}
.wz_title{ width: 100%; height: 1.375rem; border-bottom: 1px #d6d7dc solid; font-size: 0.6rem; color: #4e4e4e; line-height: 1.75rem;}
.wz_content{ width: 100%; height: 4.55rem; overflow: hidden; position: relative;}
.wz_delete{ width: 1rem; height: 1rem; background: #f1f1f1; border: 1px #d7d8dd solid ; border-radius: 50%; float: left; margin-top: 1.75rem; margin-right: 0.75rem; display: none;}
.wz_change{ background-image: url(../img/icon002.png); background-repeat: no-repeat; background-size: 100% 100%;}
.wz_image{ width: 3.55rem; height: 3.55rem; margin-top: 0.5rem; position: relative; float: left;}
.wz_image img:nth-of-type(1){ width: 100%; height: 100%;}
.wz_image img:nth-of-type(2){ width: 55%; height: 55%; position: absolute; right: 0; top: 0;}
.wz_image a{ width: 100%; height: 100%; display: block; position: absolute; left: 0; top: 0;}
.wz_text{ width: 7.5rem; height: 3.55rem; float: left; margin-left: 0.8rem; font-size: 0.45rem; color: #656565; overflow: hidden; margin-top: 0.5rem; position: relative;}
.wz_text h3{ width: 100%; height: 1rem; line-height: 1rem; font-size: 0.65rem; color: #F97FA4; margin-bottom: 0.2rem; font-weight: normal;}
.wz_text p{ width: 5.15rem; height: 1.2rem; line-height: 0.6rem; margin-bottom: 0.2rem;-webkit-line-clamp:2; text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical; overflow: hidden;}
.wz_text span{ height: 0.75rem; line-height: 0.75rem; display: inline-block;  border-radius: 0.125rem; margin-right: 0.25rem; padding: 0 0.2rem; background: #A4C8FD; color: white;}
.wz_text a{ width: 100%; height: 100%; display: block; position: absolute; left: 0; top: 0;}
.wz_activity{ width: 100%; height: 1.45rem; line-height: 1.45rem; background: #f8f8f8; position: relative; overflow: hidden;}
.wz_activity p{ width: 14.875rem; height: 100%; line-height: 1.45rem; color: #f97fa4; text-align: right; font-size: 0.6rem; float: left;}
.wz_activity span{ width: 0.3rem; height: 0.625rem;  float: right; margin-right: 0.5rem; margin-top: 0.4rem; display: block;}
.wz_activity span img{ width: 100%; height: 100%; }
.wz_activity a{ width: 100%; height: 100%; display: block; position: absolute; left: 0; top: 0;}
.tishi{ width: 100%; height: 1rem ; line-height: 1rem; font-size: 0.6rem; color: #898989; text-align: center;}
.timer_bottom{ width: 100%; height: 6rem; background: #f1f1f1; position: fixed; bottom: 0; left: 0; }
.chooseTime{ width: 100%; height: 2.5rem; background: #F1F1F1;  position: fixed; bottom: 4rem; left: 0; z-index: 10; overflow: hidden;}
.chooseTime span{ width: 5.55rem; height: 2.5rem; line-height: 2.5rem; font-size: 0.6rem; color: #676767; display: block; float: left; margin-left: 1rem;}
.chooseRili{ width: 7.8rem; margin-top: 0.5rem; height: 1.5rem; float: left; position: relative; border-radius: 0.3rem; z-index: 100;}
.chooseRili input{ width: 100%; height: 100%; line-height: 1.5rem; text-indent: 0.7rem; font-size: 0.6rem; border: none; border-radius: 0.3rem; }
.chooseRili img{ width: 0.6rem; height: 0.4rem; display: block; position: absolute; top:0.7rem; right: 0.35rem; }
.nowYuyue{ width: 100%; height: 4rem; background: #F1F1F1; position: fixed; bottom: 0; overflow: hidden; font-size: 0.6rem;}
.nowYuyue a{ width: 14.5rem; height: 2rem; display: block; color: #f97fa4;  margin: 0.5rem auto; }
.nowYuyue a input{ border: none; border-radius: 0.25rem; width: 100%; height: 100%; background: #f97fa4; color: white; margin: 0 auto;}
.xiaoshi{display: none;}
.chuxian{display: block;}
/*-----------------以上是项目预约单-------------------------------------------------------------------------*/
.nian time{font: 0.7rem/1.95rem arial; padding-left: 0.5rem; color: #282828;}
.nian span{color: #646464; font:0.6rem/1.95rem "微软雅黑"; float: right; margin-right: 0.45rem;}
.yuList{background: #fff;}
.yuList li{width: 16rem; height: 3.75rem; border-bottom: 1px solid #d6d7dc;}
.yuList li time{display: block;float: left; margin-top: 0.8rem; margin-left: 0.5rem;}
.yuList li time span{font:0.5rem/0.85rem "arial"; display: block; float: left; text-align: center;width: 2rem; color: #686868;}
.yueImg{width: 1.65rem; height: 1.7rem; float: left; margin-left: 0.5rem; margin-top: 1.05rem; margin-right: 0.4rem;}
.stause h2{font: 0.75rem/1.125rem "微软雅黑"; color: #686868; letter-spacing: 0.03rem; padding-top: 0.75rem; }
.stause h2 span{font:0.6rem/1.125rem "微软雅黑"; color: #686868;}
.stause h3{font:0.6rem/1.125rem "微软雅黑"; color: #b0b0b0; letter-spacing: 0.03rem; float: left;}
.yueMsg{letter-spacing: 0.04rem;display: block; max-width: 5rem; font:0.6rem/1.125rem "微软雅黑"; float: left; color: #b0b0b0; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.stause img{float: right; margin-right: 1.05rem; width: 0.35rem; height: 0.55rem; margin-top: -0.8rem;}
/*----------------------以上是历史预约-----------------------------------------------------------------------------*/

